@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.1em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    
}
.container-1, .container-2 {
    display: inline-block;
    justify-content: space-between;
    margin-right: 110px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size:  24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(blueviolet);
}

form button {
    border: none;
    background-color: blueviolet;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 20px;
}

.paragrafo-resultado, .bad {
    background: greenyellow;
    padding: 10px 20px;
    border-radius: 20px;
}

.bad {
    background: red;
    
}